doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    title Ractive test
    link(rel="stylesheet" href="css/styles.css")

  body
    #view

    script(src='js/vendors.js')
    script(src='js/app.js')
