.container
  .row
    .col-xs-6.col-xs-offset-3(style='padding: 50px 0;')
      h1(style='text-align:center;') elcome To Playlist
      h4(style='text-align:center;') COLLABORATIVE - PLAYLISTS - ONLINE
  .row
    .col-xs-6.col-xs-offset-3
      form
        .form-group
          input.form-control(value="{{username}}" type="username" id="exampleInputEmail1" placeholder="Username")
                      
        .form-group
          input.form-control(value="{{password}}" type="password" id="exampleInputPassword1" placeholder="Password")

        button.btn.btn-default(type="submit" on-click="signIn" disabled="{{false}}") Submit
