| {{>navbar}}
.container
  .row
    .col-xs-12
      h2 {{playlist.name}}
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      .embed-responsive.embed-responsive-16by9
        .embed-responsive-item
          #player
  .row
    .col-xs-12
      .text-center(style="padding-top: 25px;padding-bottom: 10px")
        button.btn.btn-default.btn-lg(type="button" on-click="playLast")
          span.glyphicon.glyphicon-backward
        button.btn.btn-default.btn-lg(type="button" on-click="shuffle")
          span.glyphicon.glyphicon-random
        button.btn.btn-default.btn-lg(type="button" on-click="playNext")
          span.glyphicon.glyphicon-forward
  .row
    .col-md-9.col-xs-12
      table.table.table-hover
        thead
          tr
            th #
            th Tracks
            th Added By
            th
          tr
        thead
        tbody
          | {{#each playlist.tracks:index}}
          tr
            td(width="5%")
              {{index + 1}}.
            td(on-click="playTrack:{{index}}") 
              | {{#if title}}
              | {{title}}
              | {{else}}
              | {{url}}
              | {{/if}}
            | {{#if  playlist.isOwner || playlist.isEditor}}
            td
              {{addedBy.username}}
            td
              span.glyphicon.glyphicon-trash.pull-right(type="submit" on-click="deleteTrack:{{index}}")
            | {{/if}}
          | {{/each}}

          | {{#if  playlist.isOwner || playlist.isEditor}}
          tr
            td(colspan=2)
              input.form-control(type="text" placeholder="new track" value="{{newTrackUrl}}")
            td
              button.btn.btn-block.btn-success.center-block(type="submit" on-click="newTrack:{{newTrackUrl}}") Add
          | {{/if}}
    .col-md-3.col-xs-12
      h4 Owner
      .list-group
        a.list-group-item {{playlist.owner.username}}
      h4 Editors      
      .list-group
        | {{#each playlist.editors}}
        a.list-group-item {{username}}
        | {{/each}}
        | {{#if playlist.isOwner || playlist.isEditor}}
        a.list-group-item 
          input.form-control(type="text" placeholder="Add collaborators" value="{{searchTerm}}")
          // span.glyphicon.glyphicon-plus.pull-right
        | {{/if}}
        | {{#each addEditorList}}
        a.list-group-item(on-click="addEditor:{{this}}") {{username}}
        | {{/each}}

script.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

