{{>navbar}}
.container
  .row
    .col-xs-12
      h1 {{playlist.name}}
  .row
    .col-md-9.col-xs-12
      table.table
        thead
          tr
            th Tracks
            th
          tr
        thead
        tbody
          {{#each playlist.tracks:index}}
          tr
            td
              a(href="{{url}}"){{url}}

            {{#if editPermissions}}
            td
              span.glyphicon.glyphicon-trash.pull-right(type="submit" on-click="deleteTrack:{{index}}")
            {{/if}}
          {{/each}}

          {{#if editPermissions}}
          tr
            td
              input.form-control(type="text" placeholder="new track" value="{{newTrackUrl}}")
            td
              button.btn.btn-block.btn-success.center-block(type="submit" on-click="newTrack:{{newTrackUrl}}") Add
          {{/if}}
    .col-md-3.col-xs-12
      h4 Editors
      
      .list-group
        {{#each playlist.editors}}
        a.list-group-item {{username}}
        {{/each}}
        {{#if editPermissions}}
        a.list-group-item 
          input.form-control(type="text" placeholder="Add collaborators" value="{{searchTerm}}")
          // span.glyphicon.glyphicon-plus.pull-right
        {{/if}}
        {{#each addEditorList}}
        a.list-group-item(on-click="addEditor:{{this}}") {{username}}
        {{/each}}
